dev/jade/views/add-product.view.jade

.view__back(ng-click="addProduct.back()" ng-if="addProduct.showBack()")
	span.fal.fa-angle-left
	|  Atrás

section(ng-if="!addProduct.success")
	.section__wrap.section__wrap--md
		h2 Agregar producto
		form-auto(form="addProduct")

section.section--center(ng-if="addProduct.success")
	.section__wrap.section__wrap--md
		p.section__icon: span.fa.fa-thumbs-up
		h3 ¡Excelente!
		p.section__description Tu producto ha sido agregado.

dist/views/add-product.view.html
<div ng-click="addProduct.back()" ng-if="addProduct.showBack()" class="view__back"><span class="fal fa-angle-left"></span> Atrás</div><section ng-if="!addProduct.success"><div class="section__wrap section__wrap--md"><h2>Agregar producto</h2><form-auto form="addProduct"></form-auto></div></section><section ng-if="addProduct.success" class="section--center"><div class="section__wrap section__wrap--md"><p class="section__icon"><span class="fa fa-thumbs-up"></span></p><h3>¡Excelente!</h3><p class="section__description">Tu producto ha sido agregado.</p></div></section>
