dist/views/companies.view.html
<loader ng-if="!company" class="loader--fixed"></loader><section ng-if="company" class="section--center"><div class="section__wrap section__wrap--md"><div class="section__avatar"><img src="img/avatars/logo.png"/></div><h1 class="h3 section__title">{{company.nombre}}</h1><p class="section__description">{{company.razonSocial}}</p><p><span class="fal fa-map-marker"></span> {{company.direccion}} <br /> {{company.rut}}</p><div class="section__progress"><em>El perfil de tu empresa está al:</em><div class="progresssimple"><div style="width:{{links.getCompletedPercent()}}%;" class="progresssimple__bar">{{links.getCompletedPercent()}}%</div></div></div><div class="section__links"><ul><li ng-repeat="link in links.data"><a ui-sref="pages.{{link.page}}({{link.params}})"><span ng-if="!link.completed" class="fal fa-exclamation-circle"></span><span class="fal fa-angle-right"></span> {{link.title}}</a></li></ul></div><a ui-sref="pages.add-company" class="btn">Agregar otra empresa <span class="fa fa-angle-right"></span></a></div></section>

dev/jade/views/companies.view.jade

loader.loader--fixed(ng-if="!company")

section.section--center(ng-if="company")
	.section__wrap.section__wrap--md
		.section__avatar
			img(src="img/avatars/logo.png")
		h1.h3.section__title {{company.nombre}}
		p.section__description {{company.razonSocial}}
		p <span class="fal fa-map-marker"></span> {{company.direccion}} <br /> {{company.rut}}
		.section__progress
			em El perfil de tu empresa está al:
			.progresssimple
				.progresssimple__bar(style="width:{{links.getCompletedPercent()}}%;") {{links.getCompletedPercent()}}%

		.section__links
			ul
				li(ng-repeat="link in links.data")
					a(ui-sref="pages.{{link.page}}({{link.params}})")
						span.fal.fa-exclamation-circle(ng-if="!link.completed")
						span.fal.fa-angle-right
						|  {{link.title}}

		a.btn(ui-sref="pages.add-company") Agregar otra empresa <span class="fa fa-angle-right"></span>
