dist/views/company-documents.view.html
<section ng-if="documents.available"><div class="section__wrap section__wrap--md"><h2 class="section__title">Gestión de documentos</h2><article-document ng-repeat="doc in documents.data" data="doc"></article-document><p><em>Si aún no has contratado tu certificación o la quieres renovar, lo puedes hacer desde acá:</em></p><a ui-sref="pages.company-certification" class="btn btn--border">Contratar o renovar certificación</a></div></section><section ng-if="!documents.success &amp;&amp; !documents.available"><div class="section__wrap section__wrap--md"><h2 class="section__title">Gestión de documentos</h2><p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut quam ultrices, placerat nunc ac, aliquet arcu.</p><form-auto form="documents.form"></form-auto></div></section><section ng-if="documents.success"><div class="section__wrap section__wrap--md"><h2 class="section__title">¡Perfecto! tus documentos fueron recepcionados</h2><article-document ng-repeat="doc in documents.data" data="doc"></article-document><p><em>Si aún no has contratado tu certificación o la quieres renovar, lo puedes hacer desde acá:</em></p><a ui-sref="pages.company-certification" class="btn btn--border">Contratar o renovar certificación</a></div></section>

dev/jade/views/company-documents.view.jade


section(ng-if="documents.available")
	.section__wrap.section__wrap--md

		h2.section__title Gestión de documentos

		article-document(ng-repeat="doc in documents.data" data="doc")

		p: em Si aún no has contratado tu certificación o la quieres renovar, lo puedes hacer desde acá:
		a.btn.btn--border(ui-sref="pages.company-certification") Contratar o renovar certificación


section(ng-if="!documents.success && !documents.available")
	.section__wrap.section__wrap--md

		h2.section__title Gestión de documentos
		p.section__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut quam ultrices, placerat nunc ac, aliquet arcu.

		form-auto(form="documents.form")


section(ng-if="documents.success")
	.section__wrap.section__wrap--md

		h2.section__title ¡Perfecto! tus documentos fueron recepcionados

		article-document(ng-repeat="doc in documents.data" data="doc")

		p: em Si aún no has contratado tu certificación o la quieres renovar, lo puedes hacer desde acá:
		a.btn.btn--border(ui-sref="pages.company-certification") Contratar o renovar certificación
