dist/views/company-certification.view.html
<section ng-if="certif.locked" class="section--center"><div class="section__wrap"><p class="section__icon"><span class="fa fa-warning"></span></p><h2 class="section__title">Atención</h2><p class="section__description">No puedes contratar ni renovar la certificación porque aún no subes los documentos necesarios.</p><p>Para continuar el proceso, primero debes subir los documentos solicitados.</p><p class="section__buttons"><a ui-sref="pages.company-documents" class="btn">Subir documentos solicitados</a></p></div></section><div ng-if="!certif.locked"><div class="progress"><div style="width:{{certif.currentStep*100/certif.qSteps}}%;" class="progress__bar"></div></div><section ng-if="certif.currentStep==1"><div class="section__wrap"><h2 class="section__title">Renovación o contratación de certificación</h2><p class="section__description"><strong>Validación electrónica online del cumplimiento de las habilidades requeridas para transar con el Estado.</strong> Cumplimiento art. 92, reglamento ley de compras 19.886 y validación de normativas complementarias. Vitrina con información de servicios y datos comerciales.</p><form><div class="form__element"><div class="form__element__input"><label class="form__element__label"><input type="radio" ng-model="certif.data.amount" ng-value="'a'"/>$32.249 por 12 meses <em>5% de ahorro</em></label><label class="form__element__label"><input type="radio" ng-model="certif.data.amount" ng-value="'b'"/>$16.550 por 6 meses</label></div></div><div class="form__element"><div ng-if="certif.data.amount=='a'" class="h3">Total: $32.249</div><div ng-if="certif.data.amount=='b'" class="h3">Total: $16.550</div></div><div class="form__element"><div class="form__submit"><button ng-click="certif.next()" ng-disabled="!certif.data.amount" class="btn btn--md btn--block">Seleccionar forma de pago <span class="fa fa-angle-right"></span></button></div></div></form></div></section><section ng-if="certif.currentStep==2"><div class="section__wrap"><h2 class="section__title">Selecciona la forma de pago</h2><form><div class="form__element"><div class="form__element__input"><label class="form__element__label"><input type="radio" ng-model="certif.data.method" ng-value="'credit-card'"/><strong>Tarjeta de crédito</strong><em>Ingresará al ambiente de pago Webpay donde podrá cancelar su cuenta con su tarjeta de crédito.</em></label><label class="form__element__label"><input type="radio" ng-model="certif.data.method" ng-value="'banco-estado'"/><strong>Banco Estado</strong><em>Ingresará al ambiente de pago de clientes Banco estado.</em></label><label class="form__element__label"><input type="radio" ng-model="certif.data.method" ng-value="'lorem-ipsum'"/><strong>Lorem ipsum</strong><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut quam ultrices.</em></label></div></div><div class="form__element"><div ng-if="certif.data.amount=='a'" class="h3">Total: $32.249</div><div ng-if="certif.data.amount=='b'" class="h3">Total: $16.550</div></div><div class="form__element"><div class="form__submit"><button ng-click="certif.next()" ng-disabled="!certif.data.method" class="btn btn--md btn--block">Pagar<span class="fa fa-angle-right"></span></button></div></div></form></div></section><section ng-if="certif.currentStep==3" class="section--center"><div class="section__wrap"><p class="section__icon"><span class="fa fa-check"></span></p><h2 class="h2">El pago se realizó de forma exitosa</h2><p>Validación electrónica online del cumplimiento de las habilidades requeridas para transar con el Estado.</p><div ng-if="certif.data.amount=='b'" class="h3">Total: $16.550</div><p class="section__buttons"><div class="btn">Ver comprobante</div></p><p class="section__description">07 de Enero 20180 - 00:00</p></div></section></div>

dev/jade/views/company-certification.view.jade

section.section--center(ng-if="certif.locked")
	.section__wrap
		p.section__icon: span.fa.fa-warning
		h2.section__title Atención
		p.section__description No puedes contratar ni renovar la certificación porque aún no subes los documentos necesarios.
		p Para continuar el proceso, primero debes subir los documentos solicitados.
		p.section__buttons
			a.btn(ui-sref="pages.company-documents") Subir documentos solicitados


div(ng-if="!certif.locked")

	.progress
		.progress__bar(style="width:{{certif.currentStep*100/certif.qSteps}}%;")

	section(ng-if="certif.currentStep==1")
		.section__wrap
			h2.section__title Renovación o contratación de certificación
			p.section__description <strong>Validación electrónica online del cumplimiento de las habilidades requeridas para transar con el Estado.</strong> Cumplimiento art. 92, reglamento ley de compras 19.886 y validación de normativas complementarias. Vitrina con información de servicios y datos comerciales.

			form
				.form__element
					.form__element__input
						label.form__element__label
							input(type="radio" ng-model="certif.data.amount" ng-value="'a'")
							| $32.249 por 12 meses 
							em 5% de ahorro
						label.form__element__label
							input(type="radio" ng-model="certif.data.amount" ng-value="'b'")
							| $16.550 por 6 meses
				.form__element
					.h3(ng-if="certif.data.amount=='a'") Total: $32.249
					.h3(ng-if="certif.data.amount=='b'") Total: $16.550
				.form__element
					.form__submit
						button.btn.btn--md.btn--block(ng-click="certif.next()" ng-disabled="!certif.data.amount") Seleccionar forma de pago 
							span.fa.fa-angle-right


	section(ng-if="certif.currentStep==2")
		.section__wrap
			h2.section__title Selecciona la forma de pago

			form
				.form__element
					.form__element__input
						label.form__element__label
							input(type="radio" ng-model="certif.data.method" ng-value="'credit-card'")
							strong Tarjeta de crédito
							em Ingresará al ambiente de pago Webpay donde podrá cancelar su cuenta con su tarjeta de crédito.
						label.form__element__label
							input(type="radio" ng-model="certif.data.method" ng-value="'banco-estado'")
							strong Banco Estado
							em Ingresará al ambiente de pago de clientes Banco estado.
						label.form__element__label
							input(type="radio" ng-model="certif.data.method" ng-value="'lorem-ipsum'")
							strong Lorem ipsum
							em Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut quam ultrices.
				.form__element
					.h3(ng-if="certif.data.amount=='a'") Total: $32.249
					.h3(ng-if="certif.data.amount=='b'") Total: $16.550
				.form__element
					.form__submit
						button.btn.btn--md.btn--block(ng-click="certif.next()" ng-disabled="!certif.data.method") Pagar
							span.fa.fa-angle-right


	section.section--center(ng-if="certif.currentStep==3")
		.section__wrap

			p.section__icon: span.fa.fa-check
			h2.h2 El pago se realizó de forma exitosa
			p Validación electrónica online del cumplimiento de las habilidades requeridas para transar con el Estado.
			.h3(ng-if="certif.data.amount=='b'") Total: $16.550
			p.section__buttons
				.btn Ver comprobante
			p.section__description 07 de Enero 20180 - 00:00
