dev/jade/views/dashboard.view.jade

section
	.section__wrap.section__wrap--lg



		.cols.cols--g-2
			.col-md-4

				.section__filters

					.filters(ng-class="{'filters--show': filters.show, 'filters--hide': !filters.show}")

						.filters__close(ng-click="filters.close()")
							span.fal.fa-times

						h3.filters__title Filtros

						.filters__items

							.filter.filter--search
								.filter__input
									input(type="text" placeholder="¿Que deseas vender?" ng-model="search" ng-model-options="{debounce: 300}" ng-change="changeEntries()")
									.filter__input
										span.fal.fa-search

							.filter
								.filter__name Ordenar por
								.filter__input
									scopebar(options="customScopebarOptions" value="customScopebarValue")

							.filter
								.filter__name Tipos
								.filter__input

									selector(options="customSelectOptions1" value="customSelectValue1" placeholder="Región")

									selector(options="customSelectOptions2" value="customSelectValue2" placeholder="Tipo de licitiación")

									selector(options="customSelectOptions3" value="customSelectValue3" placeholder="Estado")


							.filter
								.filter__name Presupuesto
								.filter__input
									label
										input(type="checkbox")
										|  Publicado
									label
										input(type="checkbox")
										|  No publicado

							.filter
								.filter__name Fecha de publicación
								.filter__input
									form-element(element="{type:'date',name:'date1',range:true,before:'date2'}" form="formFilters")
								.filter__input
									form-element(element="{type:'date',name:'date2',range:true,after:'date1'}" form="formFilters")

							.filter
								button.btn.btn--block Filtrar
								button.btn.btn--block.btn--transparent.btn--xs
									span.fal.fa-trash
									|  Borrar filtros

			.col-md-8

				//h2.section__title Bienvenido Rodrigo!

				.section__search.hide--md
					.section__search__filter(ng-click="filters.open()")
						span.fal.fa-sliders-h
						|  Filtros
					.section__search__input
						input(type="text" placeholder="¿Que deseas vender?" ng-model="search" ng-model-options="{debounce: 300}" ng-change="changeEntries()")
					.section__search__icon
						span.fal.fa-search


				p Existen 20 oportunidades de negocio que coinciden con tu empresa:

				.section__articles(ng-if="showEntries")
					article-entry(ng-repeat="entry in entries" data="entry")

				loader(ng-if="!showEntries")

dist/views/dashboard.view.html
<section><div class="section__wrap section__wrap--lg"><div class="cols cols--g-2"><div class="col-md-4"><div class="section__filters"><div ng-class="{'filters--show': filters.show, 'filters--hide': !filters.show}" class="filters"><div ng-click="filters.close()" class="filters__close"><span class="fal fa-times"></span></div><h3 class="filters__title">Filtros</h3><div class="filters__items"><div class="filter filter--search"><div class="filter__input"><input type="text" placeholder="¿Que deseas vender?" ng-model="search" ng-model-options="{debounce: 300}" ng-change="changeEntries()"/><div class="filter__input"><span class="fal fa-search"></span></div></div></div><div class="filter"><div class="filter__name">Ordenar por</div><div class="filter__input"><scopebar options="customScopebarOptions" value="customScopebarValue"></scopebar></div></div><div class="filter"><div class="filter__name">Tipos</div><div class="filter__input"><selector options="customSelectOptions1" value="customSelectValue1" placeholder="Región"></selector><selector options="customSelectOptions2" value="customSelectValue2" placeholder="Tipo de licitiación"></selector><selector options="customSelectOptions3" value="customSelectValue3" placeholder="Estado"></selector></div></div><div class="filter"><div class="filter__name">Presupuesto</div><div class="filter__input"><label><input type="checkbox"/> Publicado</label><label><input type="checkbox"/> No publicado</label></div></div><div class="filter"><div class="filter__name">Fecha de publicación</div><div class="filter__input"><form-element element="{type:'date',name:'date1',range:true,before:'date2'}" form="formFilters"></form-element></div><div class="filter__input"><form-element element="{type:'date',name:'date2',range:true,after:'date1'}" form="formFilters"></form-element></div></div><div class="filter"><button class="btn btn--block">Filtrar</button><button class="btn btn--block btn--transparent btn--xs"><span class="fal fa-trash"></span> Borrar filtros</button></div></div></div></div></div><div class="col-md-8"><!--h2.section__title Bienvenido Rodrigo!--><div class="section__search hide--md"><div ng-click="filters.open()" class="section__search__filter"><span class="fal fa-sliders-h"></span> Filtros</div><div class="section__search__input"><input type="text" placeholder="¿Que deseas vender?" ng-model="search" ng-model-options="{debounce: 300}" ng-change="changeEntries()"/></div><div class="section__search__icon"><span class="fal fa-search"></span></div></div><p>Existen 20 oportunidades de negocio que coinciden con tu empresa:</p><div ng-if="showEntries" class="section__articles"><article-entry ng-repeat="entry in entries" data="entry"></article-entry></div><loader ng-if="!showEntries"></loader></div></div></div></section>
