dist/views/entries.view.html
<section><div class="section__wrap"><h2 class="section__title">Mis licitaciones</h2><div class="section__tabs"><ul><li ng-click="tab.switch('offerted')" ng-class="{'current': tab.current=='offerted'}">Ofertadas</li><li ng-click="tab.switch('favorited')" ng-class="{'current': tab.current=='favorited'}">Seguidos</li></ul></div><div><div ng-if="tab.current=='offerted'" class="section__articles"><div class="message"><div class="fa fa-exclamation-triangle"></div><p class="h5">Aún no has ofertado en ninguna licitación</p><p>Encuentra una lictación que se ajuste a tus productos o servicios y oferta.</p></div></div><div ng-if="tab.current=='favorited'" class="section__articles"><article-entry ng-repeat="entry in entries" data="entry"></article-entry></div></div></div></section>

dev/jade/views/entries.view.jade

section
	.section__wrap

		h2.section__title Mis licitaciones

		.section__tabs
			ul
				li(ng-click="tab.switch('offerted')" ng-class="{'current': tab.current=='offerted'}") Ofertadas
				li(ng-click="tab.switch('favorited')" ng-class="{'current': tab.current=='favorited'}") Seguidos

		div
			.section__articles(ng-if="tab.current=='offerted'")
				.message
					.fa.fa-exclamation-triangle
					p.h5 Aún no has ofertado en ninguna licitación
					p Encuentra una lictación que se ajuste a tus productos o servicios y oferta.

			.section__articles(ng-if="tab.current=='favorited'")
				article-entry(ng-repeat="entry in entries" data="entry")
