dev/jade/views/entry-apply.view.jade


.view__close(ng-click="entryBack()")
	span.fal.fa-times

section(ng-if="!form.success")
	.section__wrap

		h1.h2.section__title Ofertar
		p Abastecimiento y Transporte de Agua Potable.

		form-auto(form="form")


section.section--center(ng-if="form.success")
	.section__wrap
		p.section__icon: span.fa.fa-thumbs-up
		h3 ¡Excelente!
		p.section__description Has ofertado correctamente.
		p.section__buttons
			a.btn.btn--md.btn--block(ui-sref="pages.dashboard") Volver al escritorio 
				span.fa.fa-angle-right

dist/views/entry-apply.view.html
<div ng-click="entryBack()" class="view__close"><span class="fal fa-times"></span></div><section ng-if="!form.success"><div class="section__wrap"><h1 class="h2 section__title">Ofertar</h1><p>Abastecimiento y Transporte de Agua Potable.</p><form-auto form="form"></form-auto></div></section><section ng-if="form.success" class="section--center"><div class="section__wrap"><p class="section__icon"><span class="fa fa-thumbs-up"></span></p><h3>¡Excelente!</h3><p class="section__description">Has ofertado correctamente.</p><p class="section__buttons"><a ui-sref="pages.dashboard" class="btn btn--md btn--block">Volver al escritorio <span class="fa fa-angle-right"></span></a></p></div></section>
