dev/jade/views/form.view.jade

//header(header="secondary" title="{{form.title}}")

#sections

	section
		.section__wrap.section__wrap--md
			.section__header
				h1.h2.section__title {{form.title}}
				p.section__description {{form.description}}
			.section__form
				form-auto(form="form" ng-if="loadedData")
				.loader(ng-if="!loadedData")

dist/views/form.view.html
<!--header(header="secondary" title="{{form.title}}")--><div id="sections"><section><div class="section__wrap section__wrap--md"><div class="section__header"><h1 class="h2 section__title">{{form.title}}</h1><p class="section__description">{{form.description}}</p></div><div class="section__form"><form-auto form="form" ng-if="loadedData"></form-auto><div ng-if="!loadedData" class="loader"></div></div></div></section></div>
