dev/jade/views/home.view.jade

section.section--main.section--center
	.section__wrap.section__wrap--md
		h1.section__title Bienvenido al registro oficial de proveedores del Estado
		p.section__description Regístrate y haz negocios con el Estado a través de ChileCompra. Ofrece tus productos y servicios a lo largo de todo Chile.
		p.section__buttons
			a.btn.btn--md.btn--block(ui-sref="pages.signin") Regístrate
			a.btn.btn--md.btn--block.btn--border(ui-sref="pages.login") Iniciar sesión

dist/views/home.view.html
<section class="section--main section--center"><div class="section__wrap section__wrap--md"><h1 class="section__title">Bienvenido al registro oficial de proveedores del Estado</h1><p class="section__description">Regístrate y haz negocios con el Estado a través de ChileCompra. Ofrece tus productos y servicios a lo largo de todo Chile.</p><p class="section__buttons"><a ui-sref="pages.signin" class="btn btn--md btn--block">Regístrate</a><a ui-sref="pages.login" class="btn btn--md btn--block btn--border">Iniciar sesión</a></p></div></section>
