dev/jade/views/notifications-config.view.jade

section.section--notifications
	.section__wrap.section__wrap--md

		h2.section__title Configurar notificaciones

		.section__group
			.section__labels
				label
					input(type="checkbox" ng-model="cccc")
					|  No deseo recibir más notificaciones

		.section__group(ng-if="!cccc")

			h4 Plataforma
			.section__labels
				label
					input(type="checkbox" name="1" checked)
					|  Notificaciones en la plataforma 
				label
					input(type="checkbox" name="2" checked)
					|  Notificaciones por email
				label
					input(type="checkbox" name="3")
					|  Notificaciones vía SMS

		.section__group(ng-if="!cccc")
	
			h4 Rango de entrefa
			.section__labels
				label
					input(type="radio" name="4" checked)
					|  Resumen diario de las licitaciones
				label
					input(type="radio" name="4")
					|  Resumen semanal de las publicaciones


		.section__group(ng-if="!cccc")

			h4 Tipo de licitación que deseas recibir

			select
				option Todas las licitaciones


		.section__group
			.btn Guardar

		

dist/views/notifications-config.view.html
<section class="section--notifications"><div class="section__wrap section__wrap--md"><h2 class="section__title">Configurar notificaciones</h2><div class="section__group"><div class="section__labels"><label><input type="checkbox" ng-model="cccc"/> No deseo recibir más notificaciones</label></div></div><div ng-if="!cccc" class="section__group"><h4>Plataforma</h4><div class="section__labels"><label><input type="checkbox" name="1" checked="checked"/> Notificaciones en la plataforma </label><label><input type="checkbox" name="2" checked="checked"/> Notificaciones por email</label><label><input type="checkbox" name="3"/> Notificaciones vía SMS</label></div></div><div ng-if="!cccc" class="section__group"><h4>Rango de entrefa</h4><div class="section__labels"><label><input type="radio" name="4" checked="checked"/> Resumen diario de las licitaciones</label><label><input type="radio" name="4"/> Resumen semanal de las publicaciones</label></div></div><div ng-if="!cccc" class="section__group"><h4>Tipo de licitación que deseas recibir</h4><select><option>Todas las licitaciones</option></select></div><div class="section__group"><div class="btn">Guardar</div></div></div></section>
