dev/jade/views/notifications.view.jade

section
	.section__wrap.section__wrap--md

		h2.section__title Notificaciones
		p
			a.btn.btn--border.btn--block(ui-sref="pages.notifications-config") Configurar notificaciones


		.section__articles

			article.article--notification
				.article__icon
					span.fal.fa-check
				.article__body
					a(href="#") Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit, sed do eiusmod tempor incididunt ut.

			article.article--notification
				.article__icon
					span.fal.fa-check
				.article__body
					a(href="#") <strong>Eiusmod</strong> do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

			article.article--notification
				.article__icon
					span.fal.fa-times
				.article__body
					a(href="#") Incididunt ut labore <strong>consectetur</strong> adipiscing elit

			article.article--notification
				.article__icon
					span.fal.fa-check
				.article__body
					a(href="#") Eiusmod do tempor <strong>incididunt</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam.

dist/views/notifications.view.html
<section><div class="section__wrap section__wrap--md"><h2 class="section__title">Notificaciones</h2><p><a ui-sref="pages.notifications-config" class="btn btn--border btn--block">Configurar notificaciones</a></p><div class="section__articles"><article class="article--notification"><div class="article__icon"><span class="fal fa-check"></span></div><div class="article__body"><a href="#">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit, sed do eiusmod tempor incididunt ut.</a></div></article><article class="article--notification"><div class="article__icon"><span class="fal fa-check"></span></div><div class="article__body"><a href="#"><strong>Eiusmod</strong> do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</a></div></article><article class="article--notification"><div class="article__icon"><span class="fal fa-times"></span></div><div class="article__body"><a href="#">Incididunt ut labore <strong>consectetur</strong> adipiscing elit</a></div></article><article class="article--notification"><div class="article__icon"><span class="fal fa-check"></span></div><div class="article__body"><a href="#">Eiusmod do tempor <strong>incididunt</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam.</a></div></article></div></div></section>
