dev/jade/views/products.view.jade

section
	.section__wrap


		.section__header
			.row
				.col-xs-12.col-md-6
					h2.section__title Mis productos
				.col-xs-12.col-md-6
					p: a.btn.btn--md.btn--block(ui-sref="pages.add-product") Agregar producto

		.section__message(ng-if="!isAvailableProducts")
			.message
				.fa.fa-info-circle
				p Aún no hay productos agregados

		.section__articles(ng-if="isAvailableProducts")

			article.article--product
				.article__options
					span.fa.fa-ellipsis-h
					.article__options__list
						ul
							li: a(ui-sref="pages.add-product") <span class="fa fa-edit"></span> Editar
							li: a(ui-sref="pages.add-product") <span class="fa fa-trash"></span> Eliminar
				.article__image
				h3.h5.article__title
					a() Vasos de plástico reciclables 200 ml
				p.article__description Producto para eventos
				.article__tags
					span #eventos 
					span #vasos 

			article.article--product
				.article__options
					span.fa.fa-ellipsis-h
					.article__options__list
						ul
							li: a(ui-sref="pages.add-product") <span class="fa fa-edit"></span> Editar
							li: a(ui-sref="pages.add-product") <span class="fa fa-trash"></span> Eliminar
				.article__image
				h3.h5.article__title
					a() Vasos de plástico reciclables 200 ml
				p.article__description Producto para eventos
				.article__tags
					span #eventos 
					span #vasos 

			article.article--product
				.article__options
					span.fa.fa-ellipsis-h
					.article__options__list
						ul
							li: a(ui-sref="pages.add-product") <span class="fa fa-edit"></span> Editar
							li: a(ui-sref="pages.add-product") <span class="fa fa-trash"></span> Eliminar
				.article__image
				h3.h5.article__title
					a() Vasos de plástico reciclables 200 ml
				p.article__description Producto para eventos
				.article__tags
					span #eventos 
					span #vasos 

			article.article--product
				.article__options
					span.fa.fa-ellipsis-h
					.article__options__list
						ul
							li: a(ui-sref="pages.add-product") <span class="fa fa-edit"></span> Editar
							li: a(ui-sref="pages.add-product") <span class="fa fa-trash"></span> Eliminar
				.article__image
				h3.h5.article__title
					a() Vasos de plástico reciclables 200 ml
				p.article__description Producto para eventos
				.article__tags
					span #eventos 
					span #vasos 

dist/views/products.view.html
<section><div class="section__wrap"><div class="section__header"><div class="row"><div class="col-xs-12 col-md-6"><h2 class="section__title">Mis productos</h2></div><div class="col-xs-12 col-md-6"><p><a ui-sref="pages.add-product" class="btn btn--md btn--block">Agregar producto</a></p></div></div></div><div ng-if="!isAvailableProducts" class="section__message"><div class="message"><div class="fa fa-info-circle"></div><p>Aún no hay productos agregados</p></div></div><div ng-if="isAvailableProducts" class="section__articles"><article class="article--product"><div class="article__options"><span class="fa fa-ellipsis-h"></span><div class="article__options__list"><ul><li><a ui-sref="pages.add-product"><span class="fa fa-edit"></span> Editar</a></li><li><a ui-sref="pages.add-product"><span class="fa fa-trash"></span> Eliminar</a></li></ul></div></div><div class="article__image"></div><h3 class="h5 article__title"><a>Vasos de plástico reciclables 200 ml</a></h3><p class="article__description">Producto para eventos</p><div class="article__tags"><span>#eventos </span><span>#vasos </span></div></article><article class="article--product"><div class="article__options"><span class="fa fa-ellipsis-h"></span><div class="article__options__list"><ul><li><a ui-sref="pages.add-product"><span class="fa fa-edit"></span> Editar</a></li><li><a ui-sref="pages.add-product"><span class="fa fa-trash"></span> Eliminar</a></li></ul></div></div><div class="article__image"></div><h3 class="h5 article__title"><a>Vasos de plástico reciclables 200 ml</a></h3><p class="article__description">Producto para eventos</p><div class="article__tags"><span>#eventos </span><span>#vasos </span></div></article><article class="article--product"><div class="article__options"><span class="fa fa-ellipsis-h"></span><div class="article__options__list"><ul><li><a ui-sref="pages.add-product"><span class="fa fa-edit"></span> Editar</a></li><li><a ui-sref="pages.add-product"><span class="fa fa-trash"></span> Eliminar</a></li></ul></div></div><div class="article__image"></div><h3 class="h5 article__title"><a>Vasos de plástico reciclables 200 ml</a></h3><p class="article__description">Producto para eventos</p><div class="article__tags"><span>#eventos </span><span>#vasos </span></div></article><article class="article--product"><div class="article__options"><span class="fa fa-ellipsis-h"></span><div class="article__options__list"><ul><li><a ui-sref="pages.add-product"><span class="fa fa-edit"></span> Editar</a></li><li><a ui-sref="pages.add-product"><span class="fa fa-trash"></span> Eliminar</a></li></ul></div></div><div class="article__image"></div><h3 class="h5 article__title"><a>Vasos de plástico reciclables 200 ml</a></h3><p class="article__description">Producto para eventos</p><div class="article__tags"><span>#eventos </span><span>#vasos </span></div></article></div></div></section>
