dist/views/root.view.html
<header ng-if="!state.logged &amp;&amp; currentPage!='pages.suppliers'" class="header--center"><div class="header__wrap"><div class="header__item header__logo"><a ui-sref="pages.home"><img src="img/logo.png"/></a></div></div></header><header ng-if="!state.logged &amp;&amp; currentPage=='pages.suppliers'" class="header--center"><div class="header__wrap"><div class="header__item header__logo"><a ui-sref="pages.suppliers"><img src="img/logo.png"/></a></div></div></header><header ng-if="state.logged"><div class="header__wrap"><div class="header__item header__logo"><a ui-sref="pages.dashboard"><img src="img/logo.png"/></a></div><div class="header__item header__links"><ul><li><a ui-sref="pages.dashboard" ng-class="{'current': currentPage=='pages.dashboard'}"><span class="fal fa-home"></span> Inicio</a></li><li><a ui-sref="pages.entries" ng-class="{'current': currentPage=='pages.entries'}"><span class="fal fa-book"></span> Mis licitaciones</a></li><li><a ui-sref="pages.companies" ng-class="{'current': currentPage=='pages.companies'}"><span class="fal fa-suitcase"></span> Mi empresa</a></li><li><a ui-sref="pages.products" ng-class="{'current': currentPage=='pages.products'}"><span class="fal fa-tag"></span> Productos</a></li><li><a ui-sref="pages.notifications" ng-class="{'current': currentPage=='pages.notifications'}"><span class="fal fa-bell"></span> Notificaciones<span class="nav__notification"></span></a></li></ul></div><div ng-click="usermenu.open()" class="header__item header__item--right header__user"><div class="header__user__avatar"><img src="img/avatars/1.jpg"/></div><div ng-repeat="company in user.data.companies" ng-if="company.id==user.currentCompanyId" class="header__user__company">{{company.nombre}}</div><div class="header__user__icon"><span class="fal fa-angle-down"></span></div></div></div><!--pre(style="line-height:20px;") {{console | json}}-->

</header><nav ng-if="usermenu.show" class="nav--usermenu"><div ng-click="usermenu.close()" class="nav__back"></div><div class="nav__front"><div class="nav__wrap"><div ng-click="usermenu.close()" class="nav__close"><span class="fal fa-times"></span></div><div class="nav__groups"><div class="nav__group nav__group--info"><div class="nav__avatar">RA</div><div class="nav__info"><strong>{{user.data.name}}</strong><span>{{user.data.email}}</span><span>{{user.data.rut}}</span><!--span +56 923 321 12--></div></div><div class="nav__group nav__group--companies"><div class="nav__title">Mis empresas</div><div class="nav__companies"><div ng-repeat="company in user.data.companies" ng-class="{'nav__company--selected': company.id==user.currentCompanyId}" ng-click="changeCompany(company.id)" class="nav__company"><div class="nav__company__check"><span class="fa fa-check"></span></div><div class="nav__company__title">{{company.nombre}}</div><div class="nav__company__rut">{{company.rut}}</div></div></div><div class="nav__addcompany"><a ui-sref="pages.add-company" ng-click="usermenu.close()" class="btn btn--block btn--border">Agregar una nueva empresa<span class="fal fa-angle-right"></span></a></div></div><div class="nav__group nav__group--user"><div class="nav__title">Mi perfil</div><div class="nav__links"><ul><!--li: a(ui-sref="pages.form({form:'update-email'})" ng-click="usermenu.close()") Modificar mi perfil <span class="fal fa-angle-right"></span>--><li><a ui-sref="pages.form({form:'update-email'})" ng-click="usermenu.close()">Modificar email <span class="fal fa-angle-right"></span></a></li><li><a ui-sref="pages.form({form:'update-phone'})" ng-click="usermenu.close()">Modificar teléfono <span class="fal fa-angle-right"></span></a></li><li><a ui-sref="pages.form({form:'update-password'})" ng-click="usermenu.close()">Modificar contraseña <span class="fal fa-angle-right"></span></a></li></ul></div></div></div></div></div></nav><loader ng-if="state.loading" class="loader--fixed"></loader><div ui-view="pages" ng-if="!state.loading" class="views"><div ui-view="ui-view" ng-class="{'view--backing': state.historyBacking}" class="view view--{{state.viewVariant}}"></div></div><nav ng-if="state.logged" ng-class="{'nav--collapsed': navdirect.collapsed}" class="nav--direct"><div ng-class="{'nav__bar--1': currentPage=='pages.dashboard', 'nav__bar--2': currentPage=='pages.entries', 'nav__bar--3': currentPage=='pages.companies', 'nav__bar--4': currentPage=='pages.products', 'nav__bar--5': currentPage=='pages.notifications'}" class="nav__bar"><div></div></div><div class="nav__links"><ul><li><a ui-sref="pages.dashboard" ng-class="{'current': currentPage=='pages.dashboard'}"><span class="fal fa-home"></span> Inicio</a></li><li><a ui-sref="pages.entries" ng-class="{'current': currentPage=='pages.entries'}"><span class="fal fa-book"></span> Mis licitaciones</a></li><li><a ui-sref="pages.companies" ng-class="{'current': currentPage=='pages.companies'}"><span class="fal fa-suitcase"></span> Mi empresa</a></li><li><a ui-sref="pages.products" ng-class="{'current': currentPage=='pages.products'}"><span class="fal fa-tag"></span> Productos</a></li><!--li: a(ng-click="navdirect.toggle()") <span class="fal fa-ellipsis-h"></span> Más--><li><a ui-sref="pages.notifications" ng-class="{'current': currentPage=='pages.notifications'}"><span class="fal fa-bell"></span> Notificaciones<span class="nav__notification"></span></a></li><li><a ui-sref="pages.dashboard" ng-class="{'current': currentPage=='pages.oc'}"><span class="fal fa-file"></span> Orden de compra</a></li><li><a ui-sref="pages.dashboard" ng-class="{'current': currentPage=='pages.roles'}"><span class="fal fa-users"></span> Administración usuarios</a></li><li><a ui-sref="pages.dashboard" ng-class="{'current': currentPage=='pages.reclaims'}"><span class="fal fa-exclamation-triangle"></span> Reclamos</a></li><!--li: a() <span class="fal fa-bell"></span> Notificaciones--><!--li: a() <span class="fal fa-th"></span> Más--></ul></div></nav><footer ng-if="!state.historyChanging &amp;&amp; !state.loading &amp;&amp; !state.stepChanging"><div class="footer__wrap"><div class="footer__logo"><img src="img/logo.png"/></div><div class="footer__title">Mesa de ayuda</div><div class="footer__items"><div class="footer__item footer__item--phone"><a href="tel:6007000600"><span class="fal fa-phone"></span> 600 7000 600</a><a href="tel:0227677222"><span class="fal fa-mobile"></span> 02 2767 7222</a></div><div class="footer__item footer__item--address"><a href="https://www.google.com/maps/place/Monjitas+392,+Santiago,+Región+Metropolitana" target="_blank"><span class="fal fa-map-marker"></span> Monjitas 392 - Piso 8, Santiago de Chile</a></div><div class="footer__item footer__item--social"><a href="#"><span class="fab fa-youtube"></span></a><a href="#"><span class="fab fa-twitter"></span></a><a href="#"><span class="fab fa-facebook"></span></a><a href="#"><span class="fab fa-linkedin"></span></a></div><div class="footer__item footer__item--legal"><a href="#" target="_blank">Términos y condiciones</a></div></div></div></footer><div ng-if="modal.show" class="modal"><div ng-click="modal.close()" class="modal__back"></div><div class="modal__front"><div class="modal__box"><div ng-click="modal.close()" class="modal__close"><span class="fal fa-times"></span></div><div ng-bind-html="modal.html" class="modal__content"></div></div></div></div>

dev/jade/views/root.view.jade

header.header--center(ng-if="!state.logged && currentPage!='pages.suppliers'")
	.header__wrap
		.header__item.header__logo
			a(ui-sref="pages.home")
				img(src="img/logo.png")

header.header--center(ng-if="!state.logged && currentPage=='pages.suppliers'")
	.header__wrap
		.header__item.header__logo
			a(ui-sref="pages.suppliers")
				img(src="img/logo.png")


header(ng-if="state.logged")
	.header__wrap

		.header__item.header__logo
			a(ui-sref="pages.dashboard")
				img(src="img/logo.png")

		.header__item.header__links
			ul
				li: a(ui-sref="pages.dashboard" ng-class="{'current': currentPage=='pages.dashboard'}") <span class="fal fa-home"></span> Inicio
				li: a(ui-sref="pages.entries" ng-class="{'current': currentPage=='pages.entries'}") <span class="fal fa-book"></span> Mis licitaciones
				li: a(ui-sref="pages.companies" ng-class="{'current': currentPage=='pages.companies'}") <span class="fal fa-suitcase"></span> Mi empresa
				li: a(ui-sref="pages.products" ng-class="{'current': currentPage=='pages.products'}") <span class="fal fa-tag"></span> Productos
				li: a(ui-sref="pages.notifications" ng-class="{'current': currentPage=='pages.notifications'}") <span class="fal fa-bell"></span> Notificaciones
					span.nav__notification

		.header__item.header__item--right.header__user(ng-click="usermenu.open()")
			.header__user__avatar: img(src="img/avatars/1.jpg")
			.header__user__company(
				ng-repeat="company in user.data.companies"
				ng-if="company.id==user.currentCompanyId"
				) {{company.nombre}}
			.header__user__icon: span.fal.fa-angle-down


	//pre(style="line-height:20px;") {{console | json}}



nav.nav--usermenu(ng-if="usermenu.show")
	.nav__back(ng-click="usermenu.close()")
	.nav__front
		.nav__wrap

			.nav__close(ng-click="usermenu.close()"): span.fal.fa-times

			.nav__groups

				.nav__group.nav__group--info
					.nav__avatar RA
					.nav__info
						strong {{user.data.name}}
						span {{user.data.email}}
						span {{user.data.rut}}
						//span +56 923 321 12

				.nav__group.nav__group--companies
					.nav__title Mis empresas
					.nav__companies
						.nav__company(
							ng-repeat="company in user.data.companies"
							ng-class="{'nav__company--selected': company.id==user.currentCompanyId}"
							ng-click="changeCompany(company.id)"
							)
							.nav__company__check: span.fa.fa-check
							.nav__company__title {{company.nombre}}
							.nav__company__rut {{company.rut}}
					.nav__addcompany
						a.btn.btn--block.btn--border(ui-sref="pages.add-company" ng-click="usermenu.close()") Agregar una nueva empresa
							span.fal.fa-angle-right

				.nav__group.nav__group--user
					.nav__title Mi perfil
					.nav__links
						ul
							//li: a(ui-sref="pages.form({form:'update-email'})" ng-click="usermenu.close()") Modificar mi perfil <span class="fal fa-angle-right"></span>
							li: a(ui-sref="pages.form({form:'update-email'})" ng-click="usermenu.close()") Modificar email <span class="fal fa-angle-right"></span>
							li: a(ui-sref="pages.form({form:'update-phone'})" ng-click="usermenu.close()") Modificar teléfono <span class="fal fa-angle-right"></span>
							li: a(ui-sref="pages.form({form:'update-password'})" ng-click="usermenu.close()") Modificar contraseña <span class="fal fa-angle-right"></span>



loader.loader--fixed(ng-if="state.loading")


.views(ui-view="pages" ng-if="!state.loading")
	.view(ui-view ng-class="{'view--backing': state.historyBacking}" class="view--{{state.viewVariant}}")


nav.nav--direct(ng-if="state.logged" ng-class="{'nav--collapsed': navdirect.collapsed}")
	.nav__bar(ng-class="{'nav__bar--1': currentPage=='pages.dashboard', 'nav__bar--2': currentPage=='pages.entries', 'nav__bar--3': currentPage=='pages.companies', 'nav__bar--4': currentPage=='pages.products', 'nav__bar--5': currentPage=='pages.notifications'}"): div
	.nav__links
		ul
			li: a(ui-sref="pages.dashboard" ng-class="{'current': currentPage=='pages.dashboard'}") <span class="fal fa-home"></span> Inicio
			li: a(ui-sref="pages.entries"   ng-class="{'current': currentPage=='pages.entries'}") <span class="fal fa-book"></span> Mis licitaciones
			li: a(ui-sref="pages.companies" ng-class="{'current': currentPage=='pages.companies'}") <span class="fal fa-suitcase"></span> Mi empresa
			li: a(ui-sref="pages.products"  ng-class="{'current': currentPage=='pages.products'}") <span class="fal fa-tag"></span> Productos
			//li: a(ng-click="navdirect.toggle()") <span class="fal fa-ellipsis-h"></span> Más
			li: a(ui-sref="pages.notifications" ng-class="{'current': currentPage=='pages.notifications'}") <span class="fal fa-bell"></span> Notificaciones
				span.nav__notification
			li: a(ui-sref="pages.dashboard"  ng-class="{'current': currentPage=='pages.oc'}") <span class="fal fa-file"></span> Orden de compra
			li: a(ui-sref="pages.dashboard"  ng-class="{'current': currentPage=='pages.roles'}") <span class="fal fa-users"></span> Administración usuarios
			li: a(ui-sref="pages.dashboard"  ng-class="{'current': currentPage=='pages.reclaims'}") <span class="fal fa-exclamation-triangle"></span> Reclamos

			//li: a() <span class="fal fa-bell"></span> Notificaciones
			//li: a() <span class="fal fa-th"></span> Más

footer(ng-if="!state.historyChanging && !state.loading && !state.stepChanging")
	.footer__wrap
		.footer__logo
			img(src="img/logo.png")
		.footer__title Mesa de ayuda
		.footer__items
			.footer__item.footer__item--phone
				a(href="tel:6007000600")
					span.fal.fa-phone
					|  600 7000 600
				a(href="tel:0227677222")
					span.fal.fa-mobile
					|  02 2767 7222
			.footer__item.footer__item--address
				a(href="https://www.google.com/maps/place/Monjitas+392,+Santiago,+Región+Metropolitana" target="_blank")
					span.fal.fa-map-marker
					|  Monjitas 392 - Piso 8, Santiago de Chile
			.footer__item.footer__item--social
				a(href="#"): span.fab.fa-youtube
				a(href="#"): span.fab.fa-twitter
				a(href="#"): span.fab.fa-facebook
				a(href="#"): span.fab.fa-linkedin
			.footer__item.footer__item--legal
				a(href="#" target="_blank") Términos y condiciones



.modal(ng-if="modal.show")
	.modal__back(ng-click="modal.close()")
	.modal__front
		.modal__box
			.modal__close(ng-click="modal.close()"): span.fal.fa-times
			.modal__content(ng-bind-html="modal.html")
