dist/views/signin.view.html
<div ng-click="signin.back()" ng-if="signin.showBack()" class="view__back"><span class="fal fa-angle-left"></span> Atrás</div><section ng-if="!signin.process" class="section--center section--main"><div class="section__wrap section__wrap--md"><h1 class="section__title">Comienza el proceso de registro como proveedor</h1><p class="section__description">Selecciona la forma mediante la que deseas registrarte en la plataforma.</p><p class="section__buttons"><a ng-click="signin.start('claveunica')" class="btn btn--md btn--block">Clave única<span class="fal fa-angle-right"></span></a><a ng-click="modal.open('&lt;h3&gt;¿Qué es la Clave única?&lt;/h3&gt;&lt;p&gt;Es una contraseña única para acceder a todos los servicios del Estado, de manera fácil y segura ya que es como tu carnet de identidad digital.&lt;/p&gt;&lt;p&gt;Conoce más sobre la clave única en:&lt;br /&gt; &lt;a href=https://claveunica.gob.cl&gt;https://claveunica.gob.cl&lt;/a&gt;&lt;/p&gt;')"><span class="fal fa-info-circle"></span> ¿No sabes qué es la clave única?</a></p><p class="section__buttons"><a ng-click="signin.start('rut')" class="btn btn--md btn--block btn--bordercolor">Carnet de identidad<span class="fal fa-angle-right"></span></a></p><hr/><h3 class="section__title">¿No tienes documento de identidad chileno?</h3><p class="section__buttons"><a ng-click="signin.start('foreign')" class="btn btn--md btn--block btn--border">Registro para extranjeros <span class="fal fa-angle-right"></span></a></p></div></section><section ng-if="signin.process"><div class="section__wrap section__wrap--md"><div class="sbs"><div class="sbs__progress"><div class="sbs__progress__start"><div class="sbs__progress__point sbs__progress__point--ready"><div class="sbs__progress__point__icon"><span class="fas fa-circle"></span></div><div class="sbs__progress__point__name">Inicio</div></div></div><div class="sbs__progress__groups"><div ng-repeat="group in signin.data track by $index" class="sbs__progress__group"><div ng-class="{'sbs__progress__point--ready': (signin.current.group&gt;$index-1 &amp;&amp; signin.current.step==signin.data[signin.current.group].steps.length-1) || signin.current.group&gt;$index}" class="sbs__progress__point"><div class="sbs__progress__point__icon"><span class="fas fa-minus"></span><span class="fas fa-check"></span></div><div class="sbs__progress__point__name">{{group.title}}</div></div><div class="sbs__progress__steps"><span style="width:{{100/group.steps.length*(signin.current.step+1)}}%" ng-if="signin.current.group==$index"></span><span ng-if="signin.current.group&gt;$index"></span></div></div></div></div><div class="sbs__groups"><div ng-repeat="group in signin.data track by $index" ng-if="$index == signin.current.group" class="sbs__group"><div ng-if="!group.completed" class="sbs__steps"><div ng-repeat="step in group.steps track by $index" ng-if="$index == signin.current.step" ng-class="{'sbs__step--last': signin.current.step==signin.data[signin.current.group].steps.length-1}" class="sbs__step"><h2 ng-if="step.title">{{step.title}}</h2><p ng-if="step.description">{{step.description}}</p><ul ng-if="step.list"><li ng-repeat="li in step.list">{{li}}</li></ul><form-auto form="step.form" ng-if="step.form"></form-auto><button ng-click="signin.next()" ng-if="step.button" class="btn btn--block"><span class="fal fa-angle-right"></span> {{step.button}}</button></div></div></div></div></div></div></section>

dev/jade/views/signin.view.jade


.view__back(ng-click="signin.back()" ng-if="signin.showBack()")
	span.fal.fa-angle-left
	|  Atrás


section.section--center.section--main(ng-if="!signin.process")
	.section__wrap.section__wrap--md
		h1.section__title Comienza el proceso de registro como proveedor
		p.section__description Selecciona la forma mediante la que deseas registrarte en la plataforma.

		p.section__buttons
			a.btn.btn--md.btn--block(ng-click="signin.start('claveunica')") Clave única
				span.fal.fa-angle-right

			a(ng-click="modal.open('<h3>¿Qué es la Clave única?</h3><p>Es una contraseña única para acceder a todos los servicios del Estado, de manera fácil y segura ya que es como tu carnet de identidad digital.</p><p>Conoce más sobre la clave única en:<br /> <a href=https://claveunica.gob.cl>https://claveunica.gob.cl</a></p>')") <span class="fal fa-info-circle"></span> ¿No sabes qué es la clave única?

		p.section__buttons
			a.btn.btn--md.btn--block.btn--bordercolor(ng-click="signin.start('rut')") Carnet de identidad
				span.fal.fa-angle-right

		hr
		h3.section__title ¿No tienes documento de identidad chileno?
		p.section__buttons
			a.btn.btn--md.btn--block.btn--border(ng-click="signin.start('foreign')") Registro para extranjeros 
				span.fal.fa-angle-right


section(ng-if="signin.process")
	.section__wrap.section__wrap--md

		.sbs

			.sbs__progress

				.sbs__progress__start
					.sbs__progress__point.sbs__progress__point--ready
						.sbs__progress__point__icon: span.fas.fa-circle
						.sbs__progress__point__name Inicio

				.sbs__progress__groups

					.sbs__progress__group(ng-repeat="group in signin.data track by $index")
						.sbs__progress__point(ng-class="{'sbs__progress__point--ready': (signin.current.group>$index-1 && signin.current.step==signin.data[signin.current.group].steps.length-1) || signin.current.group>$index}")
							.sbs__progress__point__icon
								span.fas.fa-minus
								span.fas.fa-check
							.sbs__progress__point__name {{group.title}}

						.sbs__progress__steps
							span(style="width:{{100/group.steps.length*(signin.current.step+1)}}%" ng-if="signin.current.group==$index")
							span(ng-if="signin.current.group>$index")


			.sbs__groups

				.sbs__group(ng-repeat="group in signin.data track by $index" ng-if="$index == signin.current.group")
					.sbs__steps(ng-if="!group.completed")
						.sbs__step(ng-repeat="step in group.steps track by $index" ng-if="$index == signin.current.step" ng-class="{'sbs__step--last': signin.current.step==signin.data[signin.current.group].steps.length-1}")
							h2(ng-if="step.title") {{step.title}}
							p(ng-if="step.description") {{step.description}}
							ul(ng-if="step.list")
								li(ng-repeat="li in step.list") {{li}}
							form-auto(form="step.form" ng-if="step.form")
							button.btn.btn--block(ng-click="signin.next()" ng-if="step.button") <span class="fal fa-angle-right"></span> {{step.button}}
