dist/views/supplier.view.html
<div ng-click="entryBack()" class="view__close"><span class="fal fa-times"></span></div><section ng-if="supplier"><div class="section__wrap section__wrap--md"><div class="section__header"><div class="section__avatar"><img src="img/avatars/logo.png"/></div><h1 class="h2 section__title">{{supplier.nombre}}</h1><!--p.section__description {{supplier.rut}}--><p class="section__location"><span class="fal fa-map-marker"></span> {{supplier.direccion}}</p><p class="section__hability"><span class="fa fa-check"></span> Proveedor habilitado</p></div><div class="section__features"><div class="cols"><div class="col-xs-12"><div class="section__feature"><div class="section__feature__value">${{supplier.ventas.total | number}}</div><a ui-sref="pages.supplier-detail({id:supplier.id,detail:'sales'})">Ventas históricas</a></div></div><div class="col-xs-6"><div class="section__feature"><div class="section__feature__value">100%</div><a ui-sref="pages.supplier-detail({id:supplier.id,detail:'behavior'})">Comportamiento contractual</a></div></div><!--.col-xs-6.section__feature
	.section__feature__value 4
	a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'certifications'})") Sellos y certificaciones--><div class="col-xs-6"><div class="section__feature"><div class="section__feature__value">20</div><a ui-sref="pages.supplier-detail({id:supplier.id,detail:'products-cm'})">Productos en convenio marco</a></div></div><div class="col-xs-6"><div class="section__feature"><div class="section__feature__value">Habilitado</div><a ui-sref="pages.supplier-detail({id:supplier.id,detail:'status'})"> Estado de habilidad</a></div></div><div class="col-xs-6"><div class="section__feature"><div class="section__feature__value">40</div><a ui-sref="pages.supplier-detail({id:supplier.id,detail:'products'})">Productos en catálogo</a></div></div></div></div><ul class="section__list"><li><strong>Promedio de recomendaciones</strong><div class="section__rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i></div></li><li><strong>Nombre fantasía</strong> {{supplier.nombre}}</li><li><strong>Rut</strong> {{supplier.rut}}</li><li><strong>Razón social</strong> {{supplier.razonSocial}}</li><li><strong>Giro</strong> {{supplier.giro}}</li><li><strong>Descripción</strong> {{supplier.descripcion}}</li><li><strong>Tamaño de empresa</strong> Mediana</li><li><strong>Inicio de actividades</strong> 1992</li><li><strong>Rubro</strong> Consultoría</li><li><strong>Categoría</strong> Consultorías</li><li><strong>Sellos</strong><div class="section__stamps"><div class="section__stamp"><img src="img/stamps/sello-propyme.png"/> Propyme</div><div class="section__stamp"><img src="img/stamps/sello-cooperativas.png"/> Cooperativas</div><div class="section__stamp"><img src="img/stamps/sello-certificadomujer.png"/> Certificado mujer</div><div class="section__stamp"><img src="img/stamps/sello-apl.png"/> Acuerdo de producción limpia</div></div></li></ul><div class="section__links"><ul><li><a ui-sref="pages.supplier-detail({id:supplier.id,detail:'documents'})"><span class="fal fa-angle-right"></span> Documentos</a></li><li><a><span class="fal fa-angle-right"></span> Evaluar proveedor</a></li></ul></div><div class="section__footer section__footer--fixed"><div class="cols cols--g-05"><div class="col-xs-6"><a ui-sref="pages.supplier-detail({id:supplier.id, detail:'info'})" class="btn btn--block btn--border"> Contactar</a></div><div class="col-xs-6"><button class="btn btn--block">Cotizar</button></div></div></div></div></section><loader ng-if="!supplier" class="loader--fixed"></loader>

dev/jade/views/supplier.view.jade


.view__close(ng-click="entryBack()")
	span.fal.fa-times

section(ng-if="supplier")
	.section__wrap.section__wrap--md

		.section__header

			.section__avatar
				img(src="img/avatars/logo.png")

			h1.h2.section__title {{supplier.nombre}}
			//p.section__description {{supplier.rut}}
			p.section__location <span class="fal fa-map-marker"></span> {{supplier.direccion}}
			p.section__hability
				span.fa.fa-check
				|  Proveedor habilitado

		.section__features
			.cols
				.col-xs-12
					.section__feature
						.section__feature__value ${{supplier.ventas.total | number}}
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'sales'})") Ventas históricas
				.col-xs-6
					.section__feature
						.section__feature__value 100%
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'behavior'})") Comportamiento contractual
				//.col-xs-6
					.section__feature
						.section__feature__value 4
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'certifications'})") Sellos y certificaciones
				.col-xs-6
					.section__feature
						.section__feature__value 20
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'products-cm'})") Productos en convenio marco
				.col-xs-6
					.section__feature
						.section__feature__value Habilitado
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'status'})")  Estado de habilidad
				.col-xs-6
					.section__feature
						.section__feature__value 40
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'products'})") Productos en catálogo




		ul.section__list
			li <strong>Promedio de recomendaciones</strong>
				.section__rating
					i.fas.fa-star
					i.fas.fa-star
					i.fas.fa-star-half-alt
					i.far.fa-star
					i.far.fa-star
			li <strong>Nombre fantasía</strong> {{supplier.nombre}}
			li <strong>Rut</strong> {{supplier.rut}}
			li <strong>Razón social</strong> {{supplier.razonSocial}}
			li <strong>Giro</strong> {{supplier.giro}}
			li <strong>Descripción</strong> {{supplier.descripcion}}
			li <strong>Tamaño de empresa</strong> Mediana
			li <strong>Inicio de actividades</strong> 1992
			li <strong>Rubro</strong> Consultoría
			li <strong>Categoría</strong> Consultorías

			li
				strong Sellos
				.section__stamps
					.section__stamp
						img(src="img/stamps/sello-propyme.png")
						|  Propyme
					.section__stamp
						img(src="img/stamps/sello-cooperativas.png")
						|  Cooperativas
					.section__stamp
						img(src="img/stamps/sello-certificadomujer.png")
						|  Certificado mujer
					.section__stamp
						img(src="img/stamps/sello-apl.png")
						|  Acuerdo de producción limpia



		.section__links
			ul
				li
					a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'documents'})")
						span.fal.fa-angle-right
						|  Documentos
				li
					a
						span.fal.fa-angle-right
						|  Evaluar proveedor


		.section__footer.section__footer--fixed


			.cols.cols--g-05
				.col-xs-6
					a.btn.btn--block.btn--border(ui-sref="pages.supplier-detail({id:supplier.id, detail:'info'})")  Contactar
				.col-xs-6
					button.btn.btn--block Cotizar

loader.loader--fixed(ng-if="!supplier")
