dev/jade/views/suppliers.view.jade

section.section--main.section--center
	.section__wrap.section__wrap--md
		.section__header
			h1.section__title Encuentra el proveedor del Estado que necesitas
			p.section__description Ingresa el tipo de producto o servicio que necesitas encontrar.
		form.section__searchform
			span.fal.fa-search
			input(type="text" ng-model="search.string" placeholder="¿Que necesitas?")
			button.btn.btn--block.btn--md(ng-click="search.go()") Buscar proveedor

dist/views/suppliers.view.html
<section class="section--main section--center"><div class="section__wrap section__wrap--md"><div class="section__header"><h1 class="section__title">Encuentra el proveedor del Estado que necesitas</h1><p class="section__description">Ingresa el tipo de producto o servicio que necesitas encontrar.</p></div><form class="section__searchform"><span class="fal fa-search"></span><input type="text" ng-model="search.string" placeholder="¿Que necesitas?"/><button ng-click="search.go()" class="btn btn--block btn--md">Buscar proveedor</button></form></div></section>
