dev/jade/views/suppliers-search.view.jade

section
	.section__wrap.section__wrap--lg


		form.section__search

			.section__search__input
				input(type="text" placeholder="¿Qué necesitas?" ng-model="search.string" ng-model-options="{debounce: 300}" ng-change="changeEntries()")

			.section__search__icon
				span.fal.fa-search

			.section__search__scopebar
				scopebar(options="customScopebarOptions1" value="customScopebarValue1")


		.cols.cols--g-2
			.col-md-4

				.section__filters

					.filters(ng-class="{'filters--show': filters.show}")

						.filters__close(ng-click="filters.close()")
							span.fal.fa-times

						h3.filters__title Filtros

						.filters__items

							.filter
								.filter__name Ordenar por
								.filter__input
									scopebar(options="customScopebarOptions2" value="customScopebarValue2")

							.filter
								.filter__name Tipos
								.filter__input
									selector(options="customSelectOptions1" value="customSelectValue1" placeholder="Región")
									selector(options="customSelectOptions2" value="customSelectValue2" placeholder="Rubro de licitiación")
									selector(options="customSelectOptions3" value="customSelectValue3" placeholder="Categoría")
									selector(options="customSelectOptions1" value="customSelectValue4" placeholder="Tamaño empresa")
									selector(options="customSelectOptions2" value="customSelectValue5" placeholder="Sellos")

							.filter
								.filter__name Estado de habilidad
								.filter__input 
									label
										input(type="checkbox")
										|  Habilitados
									label
										input(type="checkbox")
										|  No habilitados

							.filter
								//button.btn.btn--block Filtrar
								button.btn.btn--block.btn--transparent.btn--xs
									span.fal.fa-trash
									|  Borrar filtros

			.col-md-8

				.section__results

					.section__results__filter
						.btn.btn--border(ng-click="filters.open()")
							span.fal.fa-sliders-h
							|  Filtros

					.section__results__text 20 resultados

					.section__results__articles(ng-if="showEntries")
						article-supplier(ng-repeat="supplier in suppliers" data="supplier")

						button.btn.btn--border.btn--block Cargar más resultados

					loader(ng-if="!showEntries")





//.filterfix
//	.btn.btn--block(ng-click="filters.open()") Filtrar

dist/views/suppliers-search.view.html
<section><div class="section__wrap section__wrap--lg"><form class="section__search"><div class="section__search__input"><input type="text" placeholder="¿Qué necesitas?" ng-model="search.string" ng-model-options="{debounce: 300}" ng-change="changeEntries()"/></div><div class="section__search__icon"><span class="fal fa-search"></span></div><div class="section__search__scopebar"><scopebar options="customScopebarOptions1" value="customScopebarValue1"></scopebar></div></form><div class="cols cols--g-2"><div class="col-md-4"><div class="section__filters"><div ng-class="{'filters--show': filters.show}" class="filters"><div ng-click="filters.close()" class="filters__close"><span class="fal fa-times"></span></div><h3 class="filters__title">Filtros</h3><div class="filters__items"><div class="filter"><div class="filter__name">Ordenar por</div><div class="filter__input"><scopebar options="customScopebarOptions2" value="customScopebarValue2"></scopebar></div></div><div class="filter"><div class="filter__name">Tipos</div><div class="filter__input"><selector options="customSelectOptions1" value="customSelectValue1" placeholder="Región"></selector><selector options="customSelectOptions2" value="customSelectValue2" placeholder="Rubro de licitiación"></selector><selector options="customSelectOptions3" value="customSelectValue3" placeholder="Categoría"></selector><selector options="customSelectOptions1" value="customSelectValue4" placeholder="Tamaño empresa"></selector><selector options="customSelectOptions2" value="customSelectValue5" placeholder="Sellos"></selector></div></div><div class="filter"><div class="filter__name">Estado de habilidad</div><div class="filter__input"> <label><input type="checkbox"/> Habilitados</label><label><input type="checkbox"/> No habilitados</label></div></div><div class="filter"><!--button.btn.btn--block Filtrar--><button class="btn btn--block btn--transparent btn--xs"><span class="fal fa-trash"></span> Borrar filtros</button></div></div></div></div></div><div class="col-md-8"><div class="section__results"><div class="section__results__filter"><div ng-click="filters.open()" class="btn btn--border"><span class="fal fa-sliders-h"></span> Filtros</div></div><div class="section__results__text">20 resultados</div><div ng-if="showEntries" class="section__results__articles"><article-supplier ng-repeat="supplier in suppliers" data="supplier"></article-supplier><button class="btn btn--border btn--block">Cargar más resultados</button></div><loader ng-if="!showEntries"></loader></div></div></div></div></section><!--.filterfix--><!--	.btn.btn--block(ng-click="filters.open()") Filtrar-->
