dist/directives/article-entry.directive.html
<article class="article--entry"><div ng-click="like()" ng-class="{'article__like--liked': data.liked}" class="article__like"><span class="fal fa-bookmark"></span></div><h3 class="h5 article__title">{{data.title}}</h3><div class="article__location"><span class="fal fa-map-marker"></span> Santiago</div><div class="article__date">Publicado hace 3 días</div><div class="article__btn"><a ui-sref="pages.entry({id:123})" class="btn btn--bordercolor btn--xs btn--cover">Ver licitación</a></div></article>

dev/jade/directives/article-entry.directive.jade

article.article--entry
	.article__like(ng-click="like()" ng-class="{'article__like--liked': data.liked}"): span.fal.fa-bookmark
	h3.h5.article__title {{data.title}}
	.article__location <span class="fal fa-map-marker"></span> Santiago
	.article__date Publicado hace 3 días
	.article__btn
		a(ui-sref="pages.entry({id:123})").btn.btn--bordercolor.btn--xs.btn--cover Ver licitación
