dist/directives/article-supplier.directive.html
<article class="article--supplier"><h4 class="article__title">{{data.nombre}}</h4><p class="article__rut">{{data.rut}}</p><div class="article__hability"><span class="fas fa-check"></span> Proveedor habilitado</div><div class="article__location"><span class="fal fa-map-marker"></span> Santiago</div><div class="article__buttons"><a ui-sref="pages.supplier({id:data.id})" class="btn btn--bordercolor btn--cover">Ver ficha</a></div></article>

dev/jade/directives/article-supplier.directive.jade

article.article--supplier
	h4.article__title {{data.nombre}}
	p.article__rut {{data.rut}}
	.article__hability
		span.fas.fa-check
		|  Proveedor habilitado
	.article__location <span class="fal fa-map-marker"></span> Santiago
	.article__buttons
		a(ui-sref="pages.supplier({id:data.id})").btn.btn--bordercolor.btn--cover Ver ficha
