dist/directives/chart.directive.html
<div class="chart"><div class="chart__rows"><div ng-repeat="val in axis" class="chart__row">${{val | number}}</div></div><div class="chart__cols"><div ng-repeat="val in values track by $index" style="left:{{$index*100/(values.length-1)}}%;" class="chart__col"><div style="height:{{val*100/maxCeiled}}%;" class="chart__bar"><div class="chart__tooltip">${{val | number}}</div></div></div></div><div class="chart__labels"><div ng-repeat="label in labels" style="left:{{$index*100/(labels.length-1)}}%;" class="chart__label">{{label}}</div></div></div>

dev/jade/directives/chart.directive.jade
.chart
	.chart__rows
		.chart__row(ng-repeat="val in axis") ${{val | number}}
	.chart__cols
		.chart__col(ng-repeat="val in values track by $index" style="left:{{$index*100/(values.length-1)}}%;")
			.chart__bar(style="height:{{val*100/maxCeiled}}%;")
				.chart__tooltip ${{val | number}}
	.chart__labels
		.chart__label(ng-repeat="label in labels" style="left:{{$index*100/(labels.length-1)}}%;") {{label}}
