dev/jade/directives/form.directive.jade

form.form(ng-submit="form.submit()")

	form-element(
		ng-repeat="element in form.options"
		ng-if="showElement(element)"
		element="element"
		form="form")

	.form__message(ng-if="form.message && !form.success") {{form.message}}

	.form__element

		.form__submit
			button.btn.btn--md.btn--block(ng-disabled="form.loading || form.success") {{form.submitname}} 
				span.fal.fa-angle-right

		.form__loader(ng-if="form.loading")
			loader

		.form__success(ng-if="form.success"): span.fa.fa-check

	//pre {{form.data | json}}

dist/directives/form.directive.html
<form ng-submit="form.submit()" class="form"><form-element ng-repeat="element in form.options" ng-if="showElement(element)" element="element" form="form"></form-element><div ng-if="form.message &amp;&amp; !form.success" class="form__message">{{form.message}}</div><div class="form__element"><div class="form__submit"><button ng-disabled="form.loading || form.success" class="btn btn--md btn--block">{{form.submitname}} <span class="fal fa-angle-right"></span></button></div><div ng-if="form.loading" class="form__loader"><loader></loader></div><div ng-if="form.success" class="form__success"><span class="fa fa-check"></span></div></div><!--pre {{form.data | json}}--></form>
