dev/jade/directives/selector.directive.jade

.selector(ng-class="{'selector--oppened': selector.oppened}")
	.selector__bg(ng-click="selector.toggle()" ng-if="selector.oppened")
	.selector__value(ng-click="selector.toggle()") {{selector.getName(value)}}
	.selector__icon(ng-click="selector.toggle()"): span.fal.fa-angle-down
	.selector__options(ng-if="selector.oppened")
		.selector__option(ng-repeat='opt in options' ng-click="selector.select(opt)") {{opt.name}}

dist/directives/selector.directive.html
<div ng-class="{'selector--oppened': selector.oppened}" class="selector"><div ng-click="selector.toggle()" ng-if="selector.oppened" class="selector__bg"></div><div ng-click="selector.toggle()" class="selector__value">{{selector.getName(value)}}</div><div ng-click="selector.toggle()" class="selector__icon"><span class="fal fa-angle-down"></span></div><div ng-if="selector.oppened" class="selector__options"><div ng-repeat="opt in options" ng-click="selector.select(opt)" class="selector__option">{{opt.name}}</div></div></div>
